<footer class="footer-site">
    <picture class="footer-site-logo">
      <img src="../img/logo.png" alt="">
    </picture>
    <p class="footer-site-agradecimento">Bom, se voçê chegou até aqui, eu espero que tenha gostado da experiência, te
      desejo tudo de bom e se quiser dê uma olhada nas minhas <strong>redes sociais</strong>, logo abaixo</p>
    <nav class="footer-site-nav">
      <a class="footer-site-nav-item" href="https://www.facebook.com/arthur.linhares.370/" target="_blank"
        rel="nofollow"><i class="fa fa-brands fa-facebook-square"></i></a>
      <a class="footer-site-nav-item" href="https://twitter.com/iiSDDSdela" target="_blank" rel="nofollow"><i
          class="fa fa-brands fa-twitter-square"></i></a>
      <a class="footer-site-nav-item" href="https://www.linkedin.com/in/arthur-costa-a2b450212/" target="_blank"
        rel="nofollow"><i class="fa fa-brands fa-black-tie"></i></a>
      <a class="footer-site-nav-item" href="https://github.com/ArthurCost4" target="_blank" rel="nofollow"><i
          class="fa fa-solid fa-cat"></i></a>
    </nav>
    <p class="footer-site-agradecimento-end">Posso não ter uma graduação(ainda), mas tudo que eu faço é com
      <strong>amor</strong> e <strong>obrigado pela a sua atenção!!!</strong> <span><i
          class="fa fa-regular fa-heart"></i></span><span><i class="fa fa-regular fa-heart"></i></span><span><i
          class="fa fa-regular fa-heart"></i></span></p>
  </footer>