<div class="header">
    <img src="../img/fundoMontain.jpg" class="header-img" alt="">
    <header class="cabecalho-global">
      <img src="../img/logo.png" class="cabecalho-logotipo"></img>
      <div class="cabecalho-principal">
        <nav class="cabecalho-principal-nav" id="menuHeader">
          <ul class="cabecalho-principal-nav-items">
            <li class="cabecalho-principal-nav-items-li"><a id="home" href="#">HOME</a></li>
            <li class="cabecalho-principal-nav-items-li"><a href="#">About me</a></li>
            <li class="cabecalho-principal-nav-items-li"><a href="#">Projects</a></li>
            <li class="cabecalho-principal-nav-items-li"><a id="contactMe" href="#">Contact me</a></li>
          </ul>
        </nav>
      </div>
      <div class="responsive-btn" id="responsiveBtn"></div>

    </header>
    <section class="section-intro">
      <img src="../img/fotoIntro.png" width="150px" class="section-into-myphoto" alt="">
      <h2 class="section-intro-h2">Arthur Costa</h2>
      <h3 class="section-intro-h3">Um talvez <span class="my-job-developer">Programador Web</span></h3>
      <p class="autor-img-fundo__header">-Brett Syles</p>
      <p><i class="fa fa-solid fa-arrow-down-long icon-baixo"></i></p>
    </section>

  </div>