<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <%- include('./partials/head.ejs') %> 

  <title>Arthur portfolio's</title>
</head>

<body>

  <%- include('./partials/header.ejs') %>

  <main class=" container-main">

    <section class="container section-about">
      <div class="section-about-header">
        <img class="section-about-img" src="../img/fotoDoLink.jpg" alt="">
        <div class="container-about">
          <div class="section-about-intro titulo">INTRO</div>
          <h2 class="section-about-h2 titulo">About me</h2>
          <p class="section-about-p">Hello world, meu nome é Arthur Linhares da Costa, tenho 20 anos e eu estudo
            programação web, me considero alguem muito dedicado nos caminhos do Front-end (nada contra o back-end eu só
            tenho um blokeio mental com banco de dados) e alem de crer que eu possa contribuir com minha humilde
            experiencia na construção e desenvolvimento de varios projetos!!!</p>

          <section class="infomation-personal">
            <header class="infomation-personal-header">
              <h3 class="infomation-personal-header-h3 titulo">Informações</h3>
            </header>
            <div class="infomation-personal-list">
              <div class="infomation-personal-list-card">
                <ul>
                  <li><span class="information-personal-list-span">Name:</span> Arthur Costa</li>
                  <li><span class="information-personal-list-span">Age:</span> 20</li>
                  <li><span class="information-personal-list-span">Nivel:</span> Estágio</li>
                  <li><span class="information-personal-list-span">Experience:</span> nothing yet</li>
                </ul>
              </div>
              <div class="infomation-personal-list-card">
                <ul>
                  <li><span class="information-personal-list-span">Adress:</span> São Carlos/SP</li>
                  <li><span class="information-personal-list-span">WhatsAPP:</span> (16)99203-6976</li>
                  <li><span class="information-personal-list-span">Técnico:</span> SENAC - Programador Web</li>
                </ul>
              </div>
            </div>
          </section>
          <button class="infomation-personal-CV">Dowload CV</button>
        </div>
      </div>
    </section>
    <!--==============================modals-Card=================================-->
    <div class="modal fade " id="modalFuturo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <section class="modal-dialog ">
        <div class="modal-content modal-cards-about-me">
          <header class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Futuro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </header>
          <section class="modal-body ">
            <p> Se voçe acha que eu sou aquele tipo de programador que paro ou fico estagnado em uma determinada "area"
              ja pode esqueçer, eu estou lutando por um futuro melhor, tanto para min quanto para a minha carreira. <br>
              Todo dia busco corrigir e melhorar meu desempenho, mesmo que eu fique "petrificado" em algums problemas
              mas eu <strong>NUNCA</strong> deixo de aprender um pouco mais a cada dia que passa e assim garantir a tão
              procurada confiança.</p>
          </section>
          <footer class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </footer>
        </div>
      </section>
    </div>

    <div class="modal fade " id="modalPersonal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <section class="modal-dialog ">
        <div class="modal-content modal-cards-about-me">
          <header class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Como Pessoa</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </header>
          <section class="modal-body ">
            <p>
              Reconheço que estou longe de ter um codigo super bem elaborado, mas a cada dia que passa busco sempre
              melhorar um pouco mais como programador, é fato que todo mundo teve um começo e o meu está aqui, alias
              acho que com o conhecimento basico e com a constante ideia de melhoria o unico limite é o céu.
            </p>
          </section>
          <footer class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </footer>
        </div>
      </section>
    </div>

    <div class="modal fade " id="modalCriatividade" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <section class="modal-dialog ">
        <div class="modal-content modal-cards-about-me">
          <header class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Criatividade</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </header>
          <section class="modal-body ">
            <p>
              Como Programador Web eu sempre tento buscar meios ou modos de levar uma experiençia melhorada aos
              usuarios, tanto no design quanto na performançe, sempre indo atras de codigos mais limpos, alem de layouts
              mais amigaveis, faceis e elegantes para navegar, alem de dar valor ao constante processo de evolução da
              web eu tento sempre escrever códigos mais legiveis para facilitar futuras manutenções e assim trazendo
              mais versatilidade ao trabalho.
            </p>
          </section>
          <footer class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </footer>
        </div>
      </section>
    </div>

    <div class="modal fade " id="modalResponsabilidade" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <section class="modal-dialog ">
        <div class="modal-content modal-cards-about-me">
          <header class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Criatividade</h5>
            <button type="button" class="btn-close btn-close-modal__cards" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </header>
          <section class="modal-body ">
            <p>
              Alem de tudo isso, eu entendo que existem outras pessoas que não usam a web da mesma forma, e não estou
              falando apenas de pessoas que acessam de dispositivos mobile ou TVs gigantes, mas sim daquelas pessoas que
              usam ferramentas que auxiliam na navegação da mesma, como alguem com dificuldade visual que usa uma
              determinada ferramenta para ler um blog, com isso venho sempre a usar da melhor forma que eu conseguir as
              tags semanticas disponiveis no HTML5, alem de sempre testar as cores e o constrastes que elas causam uma
              na outra, sem conta na própria responsividade do site.
            </p>
          </section>
          <footer class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </footer>
        </div>
      </section>
    </div>

    <!--====================================CARDS ABOUT ME====================================-->


    <section class="cards-work-global">
      <header class="header-card-work">
        <h2 class="subtittle-p">O que tenho a oferecer</h2>
        <h2 class="subtittle-h2">Serviços</h2>
      </header>
      <div class="cards">
        <div class="cards-section-one">
          <div class="cards-work">
            <div class="content-card">
              <i class="icons-card fa fa-regular fa-paper-plane"></i>
              <h3 class="gradient-titlle">Futuro</h3>
              <p>EVOLUÇÃO | PERSEVERANÇA | FOCO</p>
              <button type="button" class="btn btn-modal-cards" data-bs-toggle="modal" data-bs-target="#modalFuturo">
                Leia Mais
              </button>
            </div>
          </div>
          <div class="cards-work">
            <div class="content-card">
              <i class="icons-card fa fa-solid fa-chart-line"></i>
              <h3 class="gradient-titlle">Como pessoa</h3>
              <p>APRENDIZADO | MELHORIA | CONHECIMENTO </p>
              <button type="button" class="btn btn-modal-cards" data-bs-toggle="modal" data-bs-target="#modalPersonal">
                Leia Mais
              </button>
            </div>
          </div>
        </div>
        <div class="cards-section-two">
          <div class="cards-work">
            <div class="content-card">
              <p><i class="icons-card fa fa fa-solid fa-brain"></i></p>
              <h3 class="gradient-titlle">Criatividade</h3>
              <p>DESIGN | PERFORMANCE | VERSATILIDADE</p>
              <button type="button" class="btn btn-modal-cards" data-bs-toggle="modal"
                data-bs-target="#modalCriatividade">
                Leia Mais
              </button>
            </div>
          </div>
          <div class="cards-work">
            <div class="content-card">
              <p><i class="icons-card fa fa-solid fa-users"></i></p>
              <h3 class="gradient-titlle">Responsabilidade</h3>
              <p>SEMANTICA | RESPONSIVIDADE | WEB PARA TODOS</p>
              <button type="button" class="btn btn-modal-cards" data-bs-toggle="modal"
                data-bs-target="#modalResponsabilidade">
                Leia Mais
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container projects-global">
      <header class="projects-header">
        <h2>Meus Projetos</h2>
      </header>
      <div class="section-projects">
        <div class="content-projects">
          <p class="subtittle-p">Há muito do que se orgulhar ainda</p>
          <h2 class="subtittle-h2">Sobre os Projetos</h2>
          
          <div class="section-projects-parags">
            <p>Como ja dito não tenho muitos projetos próprios com ideias que vão alem de <strong>calculadora</strong> e <strong>IMC</strong> mas com toda certeza vou buscar trabalhar muito mais em projetos que tragam um <strong>diferencial</strong> para a nossa sociedade.</p>
            <p>A prova está aqui e tirando o fato que eu só começei a da um valor mais serio pro GitHub agora, eu ja tenho alguns conhecimentos basicos em <strong>CRUD</strong>, <strong>BD(MySQL)</strong>, <strong>node.js</strong>, <strong>FrameWorks</strong> como o bootstrap e etc...</p>
            <p>Enquanto não ha projetos de extrema importancia <strong>(ALEM DO MEU TCC NO SENAC QUE ESTÁ MUITO LINDO E FOI FEITO COM MUITO EMPENHO E CARINHO <a href="https://github.com/ArthurCost4/Projeto-Integrador-SENAC22" target="_blank" rel="nofollow">CLIQUE AQUI E VEJA</a> )</strong> para apresentar aqui, enquanto isso desfrute desse lindo Slider com fotos da minha <strong>gata</strong>...</p>
          </div>
        </div>
        <div class="slider-projects">
          <div class="slider">
            <div class="slides">
              <input type="radio" name="radio-btn" id="radio1">
              <input type="radio" name="radio-btn" id="radio2">
              <input type="radio" name="radio-btn" id="radio3">
              <input type="radio" name="radio-btn" id="radio4">
              <input type="radio" name="radio-btn" id="radio5">
              <picture class="slide first img-slide">
                <img src="../img/gato1.jpeg" alt="">
              </picture>
              <picture class="slide img-slide">
                <img src="../img/gato2.jpeg" alt="">
              </picture>
              <picture class="slide img-slide">
                <img src="../img/gato3.jpeg" alt="">
              </picture>
              <picture class="slide img-slide">
                <img src="../img/gato4.jpeg" alt="">
              </picture>
              <picture class="slide img-slide">
                <img src="../img/gato5.jpeg" alt="">
              </picture>
              <nav class="nav-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <div class="auto-btn5"></div>
              </nav>
            </div>
            <div class="nav-manual">
              <label for="radio1" class="manual-btn"></label>
              <label for="radio2" class="manual-btn"></label>
              <label for="radio3" class="manual-btn"></label>
              <label for="radio4" class="manual-btn"></label>
              <label for="radio5" class="manual-btn"></label>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>

</html>