<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/fixo.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <script src="../js/fixo.js" defer></script>
    <link rel="stylesheet" href="../css/index.css">
    <title>Arthur portfolio's</title>
</head>
<body>
    <div class="header">
        <img src="../img/fundoMontain.jpg" class="header-img" alt="">
        <header class="cabecalho-global">
            <img src="../img/logo.png" class="cabecalho-logotipo"></img>
            <div class="cabecalho-principal">
                <nav class="cabecalho-principal-nav" id="menuHeader">
                    <ul class="cabecalho-principal-nav-items">
                        <li class="cabecalho-principal-nav-items-li"><a id="home" href="#">HOME</a></li>
                        <li class="cabecalho-principal-nav-items-li"><a href="#">About me</a></li>
                        <li class="cabecalho-principal-nav-items-li"><a href="#">Projects</a></li>
                        <li class="cabecalho-principal-nav-items-li"><a id="contactMe" href="#">Contact me</a></li>
                    </ul>
                </nav>
            </div>
            <div class="responsive-btn" id="responsiveBtn"></div>
            
        </header>
        <section class="section-intro">
            <img src="../img/fotoIntro.png" width="150px" class="section-into-myphoto" alt="">
            <h2 class="section-intro-h2">Arthur Costa</h2>
            <h3 class="section-intro-h3">Um talvez criativo programador web</h3>
            <p class="autor-img-fundo__header">-Brett Syles</p>
        </section>
        
    </div>

    <main class=" container-main">

        <section class="container section-about">
            <div class="section-about-header">
                <img class="section-about-img" src="../img/fotoDoLink.jpg" alt="">
                <div class="container-about">
                    <div class="section-about-intro titulo">INTRO</div>
                    <h2 class="section-about-h2 titulo">About me</h2>
                    <p class="section-about-p">Hello world, meu nome é Arthur Linhares da Costa, tenho 19 anos e eu estudo programação web, me considero alguem muito dedicado nos caminhos do Front-end (nada contra o back-end eu só tenho um blokeio mental com banco de dados) e alem de crer que eu possa contribuir com minha humilde experiencia na construção e desenvolvimento de varios projetos!!!</p>

                    <section class="infomation-personal">
                        <header class="infomation-personal-header">
                            <h3 class="infomation-personal-header-h3 titulo">Informações</h3>
                        </header>
                        <div class="infomation-personal-list">
                            <div class="infomation-personal-list-card">
                                <ul>
                                    <li><span class="information-personal-list-span">Name:</span> Arthur Costa</li>
                                    <li><span class="information-personal-list-span">Age:</span> 20</li>
                                    <li><span class="information-personal-list-span">Phone:</span> (16)99203-6976</li>
                                    <li><span class="information-personal-list-span">Experience:</span> nothing yet</li>
                                </ul>
                            </div>
                            <div class="infomation-personal-list-card">
                                <ul>
                                    <li ><span class="information-personal-list-span">Linkedin:</span></li>
                                    <li><span class="information-personal-list-span">WhatsAPP:</span></li>
                                    <li><span class="information-personal-list-span">Técnico:</span></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <button class="infomation-personal-CV">Dowload CV</button>
                </div>
            </div>
        </section>

        <section class="cards-work-global">
            <header>
                <h1>My work</h1>
                <h2>O que faço</h2>
                <div class="cards-work">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, voluptatibus.</p>
                </div>
                <div class="cards-work">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, voluptatibus.</p>
                </div>
                <div class="cards-work">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, voluptatibus.</p>
                </div>
                <div class="cards-work">
                    <h3>Titulo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, voluptatibus.</p>
                </div>
            </header>
        </section>
    </main>
    
</body>
</html>